.header {
    margin-bottom: 20px;
    padding-inline: 20px;
}

.header h1 {
    font-size: 43px;
    margin: 0;
}

.header p {
    color: var(--light-text);
}

.menu-btn {
    background-color: transparent;
    border: none;
    outline: none;
}

.mobile-header {
    display: none;
}

.menu-btn img {
    width: 30px;
    cursor: pointer;
}

@media screen and (max-width:1100px) {
    .mobile-header {
        display: block;
    }
}