* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-bg: white;
  --dark-text: #404040;
  --light-text: #C7C7C7;
  --blue: #197BBD;
  --green: #439A86;
  --red: #BB4430;
  --yellow: #FFC145;
}